@layer components {
	[data-component="tooltip"] {
		position: fixed;
		position-try-fallbacks: flip-block, flip-inline;
		opacity: 0;
		pointer-events: none;
		border-radius: var(--radius-lg);
		background-color: var(--color-primary);
		font-size: var(--text-xs);
		color: var(--color-primary-foreground);
		z-index: 50;
		padding: --spacing(1.5) --spacing(3);
		transition:
			opacity 150ms ease,
			scale 150ms ease;

		&::after {
			content: "";
			position: absolute;
			width: 0.5rem;
			height: 0.5rem;
			background-color: inherit;
			rotate: 45deg;
		}

		&[data-side="top"] {
			bottom: anchor(top);
			justify-self: anchor-center;
			margin-bottom: 0.5rem;

			&::after {
				bottom: -0.25rem;
				left: 50%;
				translate: -50% 0;
			}
		}

		&[data-side="bottom"] {
			top: anchor(bottom);
			justify-self: anchor-center;
			margin-top: 0.5rem;

			&::after {
				top: -0.25rem;
				left: 50%;
				translate: -50% 0;
			}
		}

		&[data-side="left"] {
			right: anchor(left);
			align-self: anchor-center;
			margin-right: 0.5rem;

			&::after {
				right: -0.25rem;
				top: 50%;
				translate: 0 -50%;
			}
		}

		&[data-side="right"] {
			left: anchor(right);
			align-self: anchor-center;
			margin-left: 0.5rem;

			&::after {
				left: -0.25rem;
				top: 50%;
				translate: 0 -50%;
			}
		}

		[data-slot="tooltip-trigger"]:hover + & {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
